@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div>
    <h1>This website is all about books.You can create, edit, delete books according to its author. Enjoy!</h1>
    <h4>
        <label class="from-label">Book Types</label>
    </h4>

</div>

@Html.DropDownList("Type",
      Html.GetEnumSelectList<BookTypes>(),
      "Here are some book types:",
      new {@class="form-control"})